## Configuration variables for Docker-compose deployment ##

#--- General ---#
DEPLOYMENT_TYPE=compose
HOSTNAME=${HOSTNAME}
HTTP_PORT=${HTTP_PORT}
HTTPS_PORT=${HTTPS_PORT}
HOST_FOLDER=${HOST_FOLDER}


#--- LDAP ---#
# Connection params
LDAP_URI=ldap://ldap
LDAP_PORT=389
LDAP_BASE_DN=dc=sciencebox,dc=net
LDAP_BIND_DN=cn=readuser,dc=sciencebox,dc=net
LDAP_BIND_PASSWORD=readuser

# Server config
LDAP_LOG_LEVEL=none
LDAP_TLS_VERIFY_CLIENT=try
LDAP_ORGANISATION=ExampleInc.
LDAP_DOMAIN=sciencebox.net
LDAP_ADMIN_PASSWORD=admin
LDAP_READONLY_USER=true
LDAP_READONLY_USER_USERNAME=readuser
LDAP_READONLY_USER_PASSWORD=readuser

# Env vars for the `/root/adduser.sh` script (needs LDAP admins power)
LDAP_ADMIN_BIND_DN=cn=admin,dc=sciencebox,dc=net
LDAP_ADMIN_BIND_PASSWORD=admin


#--- EOS Storage ---#
# Connection params
EOS_MGM_MASTER1=eos-mgm.demonet
EOS_MGM_MASTER2=eos-mgm.demonet
EOS_MGM_ALIAS=eos-mgm.demonet
EOS_MQ_ALIAS=eos-mq.demonet
EOS_MGM_ALIAS_PORT=8000

# Folder Tree
EOS_PREFIX=/eos/docker/user/
EOS_PROJECTPREFIX=/eos/docker/project/
EOS_METADATADIR=/eos/docker/user/.sys.dav.hide#.user.metadata/
EOS_RECYCLEDIR=/eos/docker/proc/recycle/

# FST config
FST_MOUNTPOINT=/mnt/fst_userdata
FST_GEOTAG=docker
FST_SCHEDULING_GROUP=default


#--- CERNBox ---#
# Web UI
CERNBOXGATEWAY_HOSTNAME=${HOSTNAME}
AUTH_TYPE=local
ADMINS_LIST=dummy_admin

# DB
DATABASE_BACKEND=mysql
MYSQL_URI=cernboxmysql.demonet
MYSQL_PORT=3306
MYSQL_USER=cernbox_backend
MYSQL_PASSWORD=cernbox_backend_1234567890
MYSQL_DB=cernbox


# Nginx Gateway
LDAP_URI_1=ldap://ldap
LDAP_URI_2=ldap://ldap
ESCAPE_LANDING_PAGE=false
OWNCLOUD_BACKEND=cernbox.demonet
OWNCLOUD_BACKEND_PORT=443
SWAN_BACKEND=${HOSTNAME}
SWAN_BACKEND_PORT=${SWAN_HTTPS_PORT}
WEBDAV_CLIENT_CERT_PORT=${WEBDAV_CLIENT_CERT_PORT}

#webng
INSTANCEID=oc1234
CBOXGROUPD_SECRET=1234
CBOXSWANAPID_SECRET=1234
CBOXSWANAPID_SIGNKEY=1234
JWTKEY=1234
WOPI_SECRET=1234
REVA_USERNAME=1234
REVA_PASSWORD=1234

#--- SWAN ---#
# JupyterHub 
DOCKER_NETWORK_NAME=${DOCKER_NETWORK_NAME}
CONTAINER_IMAGE=${NOTEBOOK_IMAGE}
EOS_FOLDER=${EOS_FOLDER}
CVMFS_FOLDER=${CVMFS_FOLDER}

# CVMFS
CVMFS_UPSTREAM_CONNECTION=direct
SOFTWARE_STACK=LCG_94
PLATFORM=x86_64-centos7-gcc7-opt

# EOS Fuse
